.spending-container {
    padding: 5% 8%;
    background-color: #fff;
    border-radius: 10px;
}

.bottom-container {
    display: flex;

}

.percentage {
    font-weight: bolder;
}

.last-month {
    margin-left: auto;
    margin-top: auto;
    height: 100%;
}
.last-month p {
    margin-bottom: 0;
}
.month-total {
    margin-right: auto;
    margin-top: auto;

}

.month-total h1 {
    margin: 0;
}

@media(max-width: 365px) {
    .bottom-container {
        font-size: 80%;
    }
}